.headerBar {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
}

.logo {
    height: 100px;
}

.navBar>ul {
    display: flex;
    list-style-type: none;
}

.navBar>ul>li {
    margin: 10px;
    font-size: 20px;
}

.navBar {
    padding: 10px 30px;
}

.body-container {
    border: 1px solid black;
}

.search {
    margin: 10px;
}

.res-card {
    margin: 5px;
    width: 200px;
    border: 1px solid black;
}

.res-car-details {
    margin: 5px;
}

.res-logo {
    width: 200px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.search-button {
    margin: 5px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 5px;
    width: 200px;
    background-color: lightgrey;
    height: 320px;
}